sudo: required
language: python
python:
  - '2.7'

env:
  - HEROKU_STACK=cedar-14

services:
  - docker


branches:
  only:
    - master

install: true
script: bash build.sh
deploy:
  provider: s3
  skip_cleanup: true
  access_key_id: AKIAI3U3FZ7PNMN5TRGA
  secret_access_key:
    secure: VBru6/qeYboyoyHPHEsyhjWd5AMZyaqX9CnZeIqUFgiUvnvYpB3VamFEHhBxu96sJRjjLK9XmtfV6JxZ3ljbqOXfKoepD2KRaDnj5cQd37LAsXbpPh59XhXgX3pEh1/qdzlaarU7/W69pDznNiSaWD7OGillMh49RcFNmflbdozdmVV9iuY/RXZe6y4g6QsCZI1C4/N1XdtO2vm79F3Ive7JT7C5Pn7g362PB2u51kam8AW6el/ZWAYEq/8hCZ7I14ruChOiIF93k24O2V/7cgZEQm9QGlkFaVW66Nxs5vBo73G19wxFK+/prHBDO8f5UOQbx29BfSZdzpMsVlBle9XPcs4/uuulsvZ9PDYh8fCrB2w02LQEK1d2a8p5R6fREsDEudfh+IApbtwSB4qm/g+RgZiN1A1dqZmk99WKCE5amxk4qQFLGUjzkDI3l+fvojZiyQEaYT6yjIANSX8rQmFtDdvM4lQSKVf+cOeZUZzKPZiN3SJnPJsWKYPg5CwKeOL5RbxpuMXtWc4kch8uSbDPyFzog3iim6L/0xgvqOn41HR5b5VRvTJaaGA52faifxyrfaoXnhJTADSfrHHOjj6xOWNjCIkyto1yJgS7Sq7qPMqLdhSeb+g07t09zaPQ0enxOipu9uIBw2GUhkkzdKfOXfQNBuDeNlZ0OusZLvk=
  bucket: heroku-buildpack-elixir
  local-dir: $TRAVIS_BUILD_DIR/builds/otp
  upload-dir: erlang
  acl: public_read
  on:
    repo: HashNuke/heroku-buildpack-elixir-otp-builds
